.category {
  margin-top: 3rem;
}

.category__title {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 2.5rem;
}