.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  background-color: white;
}

.logo {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.04em;
  font-size: 1.5rem;
  white-space: nowrap;
}

.menu__list {
  display: flex;
  list-style-type: none;
}

.menu__link {
  margin-left: 2rem;
  text-decoration: none;
  color: inherit;
}

.menu__icon {
  display: none;
}
