.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  transition: background-color .2s ease;
}

.logo {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.04em;
  font-size: 1.5rem;
  white-space: nowrap;
}

.header-menu {
  display: flex;
  transition: background-color .2s ease;
}

.header-menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}

.header-menu__link {
  text-decoration: none;
  color: inherit;
}

.burger {
  display: none;
}