@media screen and (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .menu__icon {
    display: block;
    height: 1px;

    width: 30px;
    padding: 15px 0;
  }
  .products {
    margin-top: 1rem;
    gap: 2rem 1rem;
  }

  .product__img {
    width: 100%;
    max-height: none;
    min-height: unset;
    object-fit: contain;
  }

  .burger {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
    z-index: 1;
  }

  .burger__line,
  .burger__line::before,
  .burger__line::after {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #8c8c8c;
    outline: 1px solid transparent;
    transition-property: background-color, transform;
    transition-duration: 0.3s;
  }

  .burger__line {
    position: relative;
  }

  .burger__line::before {
    top: -9px;
  }
  .burger__line::before,
  .burger__line::after {
    position: absolute;
    content: '';
    z-index: 1;
  }

  .burger__line::after {
    top: 9px;
  }
  .burger__line_active {
    background-color: transparent;
  }

  .burger__line_active:before,
  .burger__line_active:after {
    background-color: #8c8c8c;
  }

  .burger__line_active::before {
    transform: translateY(9px) rotate(45deg);
  }

  .burger__line_active::after {
    transform: translateY(-9px) rotate(-45deg);
  }

  .header-menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: -100vw;
    padding: 8rem 5rem;
    transition: right 0.4s ease-in-out;
    border-left: #8c8c8c;
    flex-direction: column;
    align-items: center;
  } 

  .theme-switch {
    margin-top: 4rem;
    margin-left: 0;
  }

  .header-menu_active {
    right: 0;
  }

  .header-menu__list {
    flex-direction: column;
    align-items: center;
  }

  .header-menu__link {
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  .footer-menu__list {
    flex-direction: column;
    align-items: center;
  }

  .modal {
    min-width: auto;
    max-width: calc(100% - 2rem);
  }
}
