.modal-overlay {
    display: none;
}

.modal-overlay_active {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.modal_active {
    width: 80%;
    
}