@import url('./normalize.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./category.css');
@import url('./product.css');
@import url('./to-top.css');
@import url('./modal.css');
@import url('./footer.css');
@import url('./themeSwitch.css');
@import url('./preloader.css');
@import url('./media.css');

body {
  font-family: 'Proxima Nova';
  line-height: 1.2;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  padding-top: 5rem;
}

.no-scroll {
  overflow: hidden;
}