.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.theme-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.theme-switch__slider:before {
  position: absolute;
  content: url('../img/sun.svg');
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switch__slider_active {
  background-color: #2b2b2b;
}

.theme-switch__slider_active:before {
  transform: translateX(24px);
  content: url('../img/moon.svg');
}
